
.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 470px;
    height: 500px;
}

.close-icon{
    color: #0073FF;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-self: end;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-icon.dark {
    color: #FF7A00;
}

.login-form-container.dark {
    background: #262626;
    color: #EDEDED;
}

.form-header {
    background: #D4D4D4;
    color: #0073FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 80px;
    font-size: 30px;
    box-shadow: 0 2px rgba(149, 146, 146, 1);
}

.form-header h2 {
    margin: 0;
}

.login-form-container.dark .form-header {
    background: #3A3A3A;
    color: #FF9736;
}

.login-form-container form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form-container .form-group {
    margin-bottom: 25px;
}

.login-form-container .form-group label {
    font-size: 18px;
}

.login-form-container .form-group input {
    font-size: 18px;
    padding: 10px;
    border: 0 solid #ccc;
    border-radius: 4px;
    width: 340px;
    height: 56px;
    background: #D4D4D4;
    box-shadow: 0 2px rgba(149, 146, 146, 1);
}

.login-form-container.dark .form-group input {
    background: #3A3A3A;
    color: #D4D4D4;
    border: 0 solid #555;
}

.login-form-container .error {
    color: red;
    margin-bottom: 10px;
}



.login-form-container button {
    width: 220px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #0073FF;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    box-shadow: 0 2px rgba(125, 175, 255, 1);
    margin-bottom: 15px;
}

.login-form-container button:hover {
    background: #005bb5;
}

.login-form-container.dark button {
    background: #FF9736;
    box-shadow: 0 2px rgba(255, 188, 125, 1);
}

.login-form-container.dark button:hover {
    background: #c1711c;
}

.login-form-container p {
    margin-top: 10px;
    color: #7DAFFF;
    text-align: center;
}

.login-form-container.dark p {
    color: rgba(255, 188, 125, 1);
}

.login-form-container p span {
    color: #005bb5;
    font-size: 20px;
    cursor: pointer;
}

.login-form-container.dark p span {
    color: #c1711c;
    cursor: pointer;
}

@media (max-width: 768px) {
    .login-form-container {
        width: 60%;
        padding: 15px;
    }

    .login-form-container form {
        margin-top: 10px;
    }

    .login-form-container .form-group {
        margin-top: 5px;
        width: 75%;
    }

    .login-form-container .form-header {
        font-size: 4vw;
        width: 70%;
    }

    .login-form-container .form-group label {
        font-size: 3vw;
    }

    .login-form-container .form-group input {
        font-size: 3vw;
        width: 250px;
    }

    .login-form-container .error {
        font-size: 3vw;
    }

    .login-form-container button {
        font-size: 3vw;
        width: 70%;
    }

    .login-form-container p {
        font-size: 3vw;
    }

    .login-form-container p span {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    .login-form-container {
        width: 50%;
        height: auto;
        padding: 10px;
    }

    .login-form-container .close-icon{
        width: 25px;
        margin: 5px;
    }

    .login-form-container .form-header {
        font-size: 5vw;
        height: 70px;
    }

    .login-form-container .form-group label {
        font-size: 4vw;
        width: 40%;
    }

    .login-form-container .form-group input {
        font-size: 4vw;
        width: 100%;
        height: 90%;
    }

    .login-form-container .error {
        font-size: 4vw;
    }

    .login-form-container button {
        font-size: 4vw;
    }

    .login-form-container p {
        font-size: 4vw;
    }

    .login-form-container p span {
        font-size: 4vw;
    }
}