
.register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 470px;
    height: 580px;
    justify-content: center;
}

.register-form-container.dark {
    background: #262626;
    color: #EDEDED;
}

.form-header {
    background: #D4D4D4;
    color: #0073FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 80px;
    font-size: 30px;
    box-shadow: 0 2px rgba(149, 146, 146, 1);
}

.form-header h2 {
    margin: 0;
}

.register-form-container.dark .form-header {
    background: #3A3A3A;
    color: #FF9736;
}

.register-form-container form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register-form-container .form-group {
    margin-bottom: 25px;
}

.register-form-container .form-group label {
    font-size: 18px;
}

.register-form-container .form-group input {
    font-size: 18px;
    padding: 10px;
    border: 0 solid #ccc;
    border-radius: 4px;
    width: 340px;
    height: 56px;
    background: #D4D4D4;
    box-shadow: 0 2px rgba(149, 146, 146, 1);
}

.register-form-container.dark .form-group input {
    background: #3A3A3A;
    color: #D4D4D4;
    border: 0 solid #555;
}

.register-form-container .error {
    color: red;
    margin-bottom: 10px;
}

.register-form-container button {
    width: 220px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #0073FF;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    box-shadow: 0 2px rgba(149, 146, 146, 1);
    margin-bottom: 15px;
}

.register-form-container button:hover {
    background: #005bb5;
}

.register-form-container.dark button {
    background: #FF9736;
    box-shadow: 0 2px rgba(255, 188, 125, 1);
}

.register-form-container.dark button:hover {
    background: #c1711c;
}

.register-form-container p {
    margin-top: 10px;
    color: #7DAFFF;
    text-align: center;
}

.register-form-container.dark p {
    color: rgba(255, 188, 125, 1)   ;
}

.register-form-container p span {
    color: #005bb5;
    font-size: 20px;
    cursor: pointer;
}

.register-form-container.dark p span {
    color: #c1711c;
    cursor: pointer;
}
